
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #990000; 
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px; 
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu-nome {
    background-color: #666666;
    color:#fff;
    padding: 5px 40px;
   
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #990000;
        position: absolute;
        top: 60px; 
        left: 0;
        z-index: 1000;
        align-items: center;
    }
 
    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
